<div class="container">
    <div class="border">
    <button class="btn btn-md btn-outline-primary" align=center (click)="open(content)">
      <i class="fa fa-university"></i>Add New Ira</button>
    </div>
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>ID</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Ira Name</th>
        <th>Ira Type</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let i of iras">
        <td><span>{{i.iraId}}</span></td>
        <td><span>{{i.firstName}}</span></td>
        <td><span>{{i.lastName}}</span></td>
        <td><span>{{i.iraName}}</span></td>
        <td><span>{{i.iraType}}</span></td>
        <td>
            <button class="btn btn-sm btn-info" (click)="openDetails(contentDetails, i)">
              <i class="fa fa-search"></i>Details</button>
            <button class="btn btn-sm btn-warning" (click)="openEdit(contentEdit,i)" >
              <i class="fa fa-edit"></i>Edit</button>
            <button class="btn btn-sm btn-danger" (click)="openDelete(contentDelete, i)">
              <i class="fa fa-remove"></i>Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
<!----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">New Ira</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
        <div class="form-group">
          <label for="firstname">First Name</label>
          <div class="input-group">
            <!-- id and input must match exactly to column fields in spring data repo-->
            <input name="firstName" id="firstName" class="form-control" ngModel>
          </div>
        </div>
        <div class="form-group">
            <label for="lastname">Last Name</label>
            <div class="input-group">
              <input name="lastName" id="lastName" class="form-control" ngModel>
            </div>
          </div>
          <div class="form-group">
            <label for="iraname">Ira Name</label>
            <div class="input-group">
              <input name="iraName" id="iraName" class="form-control" ngModel>
            </div>
          </div>
          <div class="form-group">
            <label for="iratype">Ira Type</label>
            <div class="input-group">
              <input name="iraType" id="iraType" class="form-control" ngModel>
            </div>
          </div>
          <div class="border text-center">
            <button data-dismiss="modal" class="btn btn-info">Submit</button>
            </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
    </div>
  </ng-template>
<!----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
  <ng-template #contentDetails let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title-details">Ira Details</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label>First Name</label>
          <div class="input-group">
            <input id="viewfirstname" class="form-control" readonly>
          </div>
        </div>
        <div class="form-group">
            <label for="lastname">Last Name</label>
            <div class="input-group">
              <input id="viewlastname" class="form-control" readonly>
            </div>
          </div>
          <div class="form-group">
            <label for="iraname">Ira Name</label>
            <div class="input-group">
              <input id="viewiraname" class="form-control" readonly>
            </div>
          </div>
          <div class="form-group">
            <label for="iratype">Ira Type</label>
            <div class="input-group">
              <input id="viewiratype" class="form-control" readonly>
            </div>
          </div>
          
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
    </div>
  </ng-template>
<!----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<ng-template #contentEdit let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title-edit">Update Ira</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form  [formGroup]="editForm" novalidate>
      <div class="form-group" >
        <div class="input-group">
          <input formControlName="iraId" class="form-control" hidden="true">
        </div>
      </div>
      <div class="form-group">
        <label for="firstname">First Name</label>
        <div class="input-group">
          <input formControlName="firstName" class="form-control">
        </div>
      </div>
      <div class="form-group">
          <label for="lastname">Last Name</label>
          <div class="input-group">
            <input formControlName="lastName" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label for="iraname">Ira Name</label>
          <div class="input-group">
            <input formControlName="iraName" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label for="iraType">Ira Type</label>
          <div class="input-group">
            <input formControlName="iraType" class="form-control">
          </div>
        </div>
        <div class="border text-center">
          <button data-dismiss="modal" class="btn btn-info" (click)="onSave()">Submit</button>
          </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>

  <!---------------------------------------------------------------------------------------------------------------->
  <ng-template #contentDelete let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Confirm Delete</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h2>Are you sure you want to delete this record.</h2>
      <div class="border text-center"> 
        <button data-dismiss="modal" class="btn btn-danger" (click)="onDelete()">Yes, Delete!</button> 
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
    </div>
  </ng-template>

  
     